* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #222;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.card {
  width: 100%;
  max-width: 470px;
  background: linear-gradient(-45deg, #1f1c2c, #2c3e50, #4b6cb7, #928dab, #1f1c2c);
  background-size: 500% 500%;
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  animation: gradientShift 30s ease-in-out infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: none;
  outline: none;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 20px;
  margin-right: 16px;
  font-size: 18px;
  width: 80%;
}

.search button {
  border: none;
  outline: none;
  background-color: #ebfffc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather > p {
  font-size: 18px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 500;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.col img {
  width: 30px;
  margin-right: 10px;
}

.col1 {
    margin-right: 30px;
  }

.humidity,
.wind {
  font-size: 20px;
  margin-top: -6px;
}

.variant {
    font-size: 15px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

@media (max-width: 461px) {
    .search input {
        width: 100%;
        margin: 0;
    }

    .search button {
        display: none;
    }

    .weather h1 {
        font-size: 60px;
        margin-bottom: 10px;
      }

      .weather h2 {
        font-size: 40px;
        font-weight: 400;
      }

      .col img {
        width: 20px;
      }

      .wind, .humidity {
        font-size: 15px;
      }

      .variant {
        font-size: 10px;
      }
}
